<nav class="navbar">
  <div class="navbar-container">
    <div>
      <a routerLink="/" class="navbar-brand" aria-label="Ir al inicio">
        <mat-icon fontIcon="shield"></mat-icon>
        <span class="brand-text">Heroes app</span>
      </a>
    </div>
    <div class="navbar-menu" id="navbar-default">
      <ul class="navbar-list">
        <li>
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
            >Héroes</a
          >
        </li>
        <li>
          <a
            routerLink="/form"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
            >Crear un héroe</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
