<h2>{{ mode() === 'create' ? 'Crear Héroe' : 'Editar Héroe' }}</h2>
<form class="heroes-form" [formGroup]="form" (ngSubmit)="onSaveHero()">
  <mat-form-field appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" appSeeInUppercase>
    @if (form.get('name')?.hasError('required')) {
    <mat-error>El nombre es obligatorio</mat-error>
    }
    @if (form.get('name')?.hasError('minlength')) {
    <mat-error>El nombre debe tener al menos 3 caracteres</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Poder</mat-label>
    <input matInput formControlName="power">
    @if (form.get('power')?.hasError('required')) {
    <mat-error>El poder es obligatorio</mat-error>
    }
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Universo</mat-label>
    <mat-select formControlName="universe">
      <mat-option value="DC">DC</mat-option>
      <mat-option value="Marvel">Marvel</mat-option>
      <mat-option value="other">Otro</mat-option>
    </mat-select>
    @if (form.get('universe')?.hasError('required')) {
    <mat-error>El universo es obligatorio</mat-error>
    }
  </mat-form-field>

  <section class="heroes-form-actions">
    <button type="button" [disabled]="loadingService.loadingSave()" matButton="elevated"
      (click)="onCancel()">Cancelar</button>
    <button [disabled]="form.invalid || loadingService.loadingSave()" type="submit" matButton="filled">
      @if (loadingService.loadingSave()) {
      <mat-spinner [diameter]="20" color="white"></mat-spinner>
      }@else {
      Guardar
      }
    </button>
  </section>
</form>